@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Object Sans Bold";
  src: url("../public/fonts/ObjectSans-Heavy.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Object Sans";
  src: url("../public/fonts/ObjectSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #7fc1cc;
}

a {
  color: inherit;
  text-decoration: none;
}
nav {
  background-color: #f5e2be;
  padding: 1rem;
}

.navItem {
  font-family: "Object Sans Regular";
  font-size: 18px;
}
.navItem:hover {
  background-color: #f47253;
  border-radius: 10px;
  padding: 5px;
}

.logInButton {
  background-color: #f47253;
  padding: 5px;
  border-radius: 10px;
}

.navContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin: 10px;
}

.gridWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.nav-col1 {
  display: flex;
  width: 50%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 15rem;
  padding-left: 2em;
  justify-content: space-between;
}

.nav-col2 {
  display: flex;
  width: 50%;
  padding-top: 1em;
  padding-right: 3em;
  padding-bottom: 1em;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  font-family: "Object Sans Bold";
  font-size: 24px;
}

.searchBar {
  padding: 10px;
  border-radius: 10px;
}

.allProgramsSearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.allProgramsInput {
  padding: 10px;
  border-radius: 10px;
}

.eventCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.eventCard {
  background-color: #f5e2be;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 1em;
  border: 1px solid rgb(114, 114, 114);
  margin: 1em;
  box-shadow: 2px 2px 4px #716f6f, -2px -2px 4px #ffffff;
}
.eventCard-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.registerButton {
  font-family: "Helvetica";
  font-size: 18px;
  margin: 10px 0;
  padding: 5px;
  background-color: #d1c979;
  border-radius: 10px;
}
.learnMoreButton {
  font-family: "Helvetica";
  font-size: 18px;
  margin: 10px 0;
  padding: 5px;
  background-color: #f4a698;
  border-radius: 10px;
}

h3 {
  font-family: "Object Sans Bold";
  font-size: 24px;
}

p {
  font-family: "Helvetica";
  font-size: 18px;
  padding: 5px;
}
.paginationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiPagination-root {
  background-color: #7fc1cc;
}

footer {
  background-color: #faad67;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footerLeft {
  flex: 1;
}

.footerRight {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}

.findPrograms,
.planPrograms,
.aboutUs {
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .nav-col1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .navItem {
    font-size: 90%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 820px) {
  .logo {
    padding-right: 5rem;
  }
}

@media screen and (max-width: 820px) {
  .logo {
    padding-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-col1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 750px) {
  .nav-col2 {
    display: none;
  }
  .searchBar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .eventCard {
    width: 100%;
    margin: 0;
    font-size: 50%;
  }
  .registerButton {
    font-size: 50%;
  }
  .learnMoreButton {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  .footerContainer {
    flex-wrap: wrap;
  }

  .footerLeft {
    flex: 100%;
    text-align: center;
    order: 1;
    padding-top: 1rem;
  }
  .footerRight {
    flex: 100%;
    text-align: center;
    order: 0;
    padding-top: 1rem;
  }
  .footerLeft p,
  .footerRight p {
    font-size: 0.8em;
  }
  .footerRight h4 {
    font-size: 0.8em;
  }
}
